@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;600&display=swap');

.container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
    font-family: "Kanit", sans-serif;
}

.title{
    margin-bottom: 30px;
    font-family: "Playfair Display", serif;
}

.wrapper{
    background-color: #EEC95C;
    border-radius: 15px;
    margin: 20px;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}